/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26408c;
  border-radius: 7px;
}

html {
  scroll-behavior: smooth !important;
}

* {
  font-family: 'Poppins', sans-serif;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
